<div *ngIf="products$ | async as products; else loading">
  <section>
    <h1>Produtos [mfeProdutos]</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nisi
      lacus, molestie hendrerit dui pharetra, placerat porta sapien. Integer
      ultrices, dui a blandit ultrices, lectus odio ultricies turpis, ac blandit
      mi nisi id libero. Pellentesque volutpat, ante ac blandit vehicula, sem
      dui blandit metus, sit amet egestas tortor lacus sit amet arcu. Nunc a
      ligula mollis, lacinia nibh porta, fermentum dolor. Quisque sed tortor
      posuere, vulputate lacus ut, dapibus sem. In et sem lobortis, volutpat est
      ut, luctus ligula. Nam quis dolor tempus, pellentesque arcu quis,
      sollicitudin nunc. Nullam mollis facilisis massa, vel dapibus felis cursus
      eu. Praesent euismod pulvinar nibh ut tristique. Etiam sit amet est
      eleifend, blandit dolor et, ultricies velit. Quisque non lorem ornare,
      commodo nibh ac, blandit orci. Fusce nec fringilla erat. Pellentesque
      tincidunt odio eu eros congue, elementum consectetur orci vulputate. Duis
      quis neque odio.
    </p>
  </section>

  <!-- <ng-container *ngComponentOutlet="mfeComponent"></ng-container> -->

  <br /><br />

  <h2>Mais vendidos</h2>

  <section class="grid-products">
    <app-product-item
      [product]="product"
      *ngFor="let product of products.splice(0, 4)"
    ></app-product-item>
  </section>

  <h2>Mais favoritados</h2>

  <section class="grid-products">
    <app-product-item
      [product]="product"
      *ngFor="let product of products.slice(0, 4)"
    ></app-product-item>
<!-- 
    <div class="product-item" *ngFor="let product of products.slice(0, 4)">
      <div class="image">
        <img [src]="product.image" />
      </div>
      <div class="content">
        <h3>{{ product.title }}</h3>
        <div class="cta">
          <button
            class="btn btn-detail"
            [routerLink]="'/produtos/detalhes/' + product.id"
          >
            VER DETALHES
          </button>
        </div>
      </div>
    </div> -->
  </section>
</div>

<ng-template #loading>
  <div class="loading">Carregando...</div>
</ng-template>
