<app-board-card class="cards-wrapper">
  <h1>Página exemplo</h1>

<!-- 
  <div>
    <form [formGroup]="formulario" id="edit-form">
      <div class="form-item">
        <input type="text" formControlName="title" placeholder="Título" />
      </div>
      <div class="form-item field-upload">
        <input type="file" formControlName="image" placeholder="Imagem" />
      </div>
      <div class="form-item">
        <textarea rows="12" formControlName="body"></textarea>
      </div>
    
      <div class="form-item">
        <button type="submit">
          Enviar
        </button>
      </div>
      <div class="form-item">
        <button type="submit" class="btn-cancel" routerLink="/produtos">
          Cancelar
        </button>
      </div>
    </form>
  </div> -->
  
  <ng-template #loading>
    Carregando...
  </ng-template>
  
</app-board-card>